@import '../../../styles/settings.scss';

.contact {
  text-align: right;
  flex-wrap: nowrap;
  span {
    font-weight: bold;
  }
}

@media (max-width: 767px) {

  .contact {
    text-align: center;
    margin-top: ($base-size * 1.5);
  }

}
